*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    /* height:60px; */
    
    
    position: fixed;
    top :0;
    left: 0;
    right:0;
    z-index: 1000;
    
}
.bgColor{
  background-color: black;
}
#nav {
    
  display: inline-block;
  font-weight: bold;

}
#nav > li{
    display:inline-block;
   
}
#nav li{
    
    position: relative;
    
}
#nav > li > a{
    color: wheat;
    text-transform: uppercase;
}
#nav li a{
    display: block;
    text-decoration: none;
    
    line-height: 60px;
    padding: 0 24px;
    transition:color 0.5s  ease;

}
#nav > li:hover .subnav{
    display: block;
    

}

#nav  > li:hover > a{
    background-color: wheat;
    color: sienna;   
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    min-width: 160px;
}
#nav .subnav a{
    color: sienna;
    padding: 0 12px;
    line-height: 46px;
	
}
#nav .fa fa-caret-down{
    font-size: 14px;
}
.subnav li:hover {
    background-color: wheat;
}
.subnav li:hover a{
    transform: translateX(10px);
    transition: 5s;

}
#slider{
   
   position: relative;
    width: 100%;
   height: 100vh;  
   
}
#slider .text-content {
    
    position: absolute; /* phụ thuộc vào thg cha */
    text-align: center;
    bottom: 150px;
   
    left:10%;
    color: #fff;
    
    
    
}
#slider .text-content h1{
    font-size: 40px;
    font-weight: 300;
}

#slider .text-content #text-des{
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
   z-index: -1;
    
}

#mybtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:sienna;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
  }
  
  #mybtn:hover {
    background-color:wheat;
    color: sienna;
  }
  #container{
    
      
  }
  #container .content-section{
      width: 900px;
      max-width: 100%;/*reponse khi with nhỏ < 900 */
      margin-left: auto;
      margin-right: auto;
      padding: 64px 10px;
      
  }
#container .content-section .section-head{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 45px;
  
}
#container .content-section .section-head{
	position: relative;
}
#container .content-section .section-head p{
	position: absolute;
	font-size: 100px;
	
}
#container .content-section .section-head p:nth-child(1){
	color: transparent;
	-webkit-text-stroke: 2px #AA6A21;
}
#container .content-section .section-head p:nth-child(2){
	color: #AA6A21;
	animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
	0%,100%{
		clip-path: polygon(0% 54%, 14% 64%, 32% 72%, 46% 60%, 63% 47%, 82% 51%, 96% 59%, 100% 69%, 100% 100%, 0% 100%);
	}
	50%{
		clip-path: polygon(0% 54%, 10% 48%, 20% 46%, 32% 53%, 51% 67%, 68% 71%, 87% 67%, 98% 56%, 100% 100%, 0% 100%);
	}
}
  #container .content-section .section-text{
      background-color: #f1f1f1;
      border-left: 8px solid #ccc;
      text-align: justify;
    line-height: 1.6 ;
    margin-bottom: 30px;
    padding: 16px;
    font-style: italic;
    font-weight: 300;
  }
  .section-foot{
      font-family:  "Inconsolata", monospace; /* font gg*/
      font-style: italic;
      font-weight: 300;
      padding-bottom: 10px;
  }
  
  #container .content-section img{
      width: 100%;
       
  }
  .storehome{
    background-color: #EA8025;
    
    
  }
  .storehome .content-slide{
     
      width: 1200px;
      max-width: 100%;
      margin-right: auto;
    margin-left: auto;
   
    padding: 64px 10px;    
  }
  .storehome .content-slide .slide-texthead{
    
    font-size: 32px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
  }
  .storehome .content-slide .slide-texthead::after {
    content: '';
    background: black;
    width: 8%;
    display: block;
    height: 4px;
  }
  .slideshow-container {
    position: relative;
    width: 100%;
    
  }
  .mySlides {display: none;
    
    height: 600px; /* để block chua anh deu bang nhau*/
    
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next{
      right: 0;
  }
  #footer{
    background-color:black;
    color: white; 
    padding: 70px 0 0 ;
  }
  .footer-container{
    max-width: 1170px;
    margin: auto;
    
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .colfooter{
    width: 25%;
    padding: 0 15px;
  }
  .colfooter ul{
    list-style: none;
  }
  .colfooter h4{
    
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 300;
    text-transform: capitalize;
  }
  .colfooter .gov{
    margin-top: 15px;
  }
  .colfooter ul li{
    margin-bottom: 10px;

  }
  .colfooter ul li a{
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 100;
  }
  .colfooter ul li:hover a{
    color:sienna ;
    padding-left: 6px;
  }
  
  .colfooter .social-icon a{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin:0  10px 10px 0 ;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .2);
    color: #ffff;
  }
  .colfooter .social-icon a:hover{
    
    color: sienna;
  }
  .copy{
    padding: 10px 0;
    margin-top: 16px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #bbbbbb;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@media (min-width:740px) and (max-width:1023px){
    
}
@media (max-width:740px) {
    #header{height: auto;}
    #nav {
        display: block; /* de hover toan block*/
      }

      #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #container .content-section .section-head p{
      font-size: 60px;
    }
    .storehome .content-slide .slide-texthead{
      font-size: 16px;
    }
    .mySlides{
      height:300px;
    }
    .colfooter{
      width: 50%;
      margin-bottom: 30px;
    }
    .colfooter .gov img{
      width: 100%;
      height: auto;
    }

    

}